# Tuples

## Tuple ?

Tuple is like a list but immutable

## Defining a tuple

In [5]:
x = (5, 6)
x = ()
x = 5,

In [15]:
mylist = [2,4,5]
mytuple = tuple(mylist)
mylistback = list(mytuple)
print(mylistback)

[2, 4, 5]

## Modifying a tuple

In [ ]:
t = (4,5,6)
t = t + (7,8)
print(t)

## Unpacking a tuple

In [ ]:
x = ('John', 'Maria', 'another', 'Rex')
father, mother, another, brother = x

## Returning a tuple

In [ ]:
def get_car_info(carname):
    mydict = {'kia picanto': (1500, 2014),
           'mitsubishi attrage': (1000, 2012)}
    return mydict[carname] # (1500, 2014)

engine_volume, year = get_car_info('kia picanto')

print(engine_volume)
print(year)

In [ ]:
def maxmin(arr):
    maximum = max(arr)
    minimum = min(arr)
    return maximum, minimum

maximum, minimum = maxmin([3,23,2435,256,42752,3451342,56])
print(maximum)
print(minimum)

## The case of enumerate

In [30]:
arr = ['a', 'b', 'c', 'd']

for ix, elem in enumerate(arr):    
    print(ix,'-->',elem)

0 --> a
1 --> b
2 --> c
3 --> d

## ZIP

In [ ]:
first_names = ['eyal', 'john', 'rex']
last_names  = ['Chocron', 'Cohen', 'Cohenus']

for elem1, elem2 in zip(first_names, last_names):
    print(elem1, elem2)

*****
# Exercise 1

### 1 
Write a list `me_list` with 3 items: Your first name, your last name and your age
### 2
Convert it to a tuple `me_tuple`
### 3
Manually print a little phrase with all the items
### 4
Unpack this tuple into three variables

***
# Exercise 2

### 1 
Make a list `me_list` in this format:<br>
<pre>
<code>
   me_list = [("name","Eyal"), 
            ("age",20), 
            ("hobbies", ['eating', 'coding', 'eating']) ]</code></pre>
### 2 
Make a function that convert that type of list into dictionnary